Repository cloudnative-pg/cloudnative-pg, changes with the owners that CODEOWNERS names for each.
All owners: @cloudnative-pg/maintainers, @NiccoloFei, @jsilvela, @litaocdl

chore: enable 1.23.1 as option in bug template (#4587)
  .github/ISSUE_TEMPLATE/bug.yml
Owners: @cloudnative-pg/maintainers, @jsilvela, @NiccoloFei, @litaocdl

chore: enable 1.23.1 as option in bug template (#4587)
  .github/ISSUE_TEMPLATE/bug.yml
Owners: @cloudnative-pg/maintainers, @jsilvela, @NiccoloFei, @litaocdl

chore: enable 1.23.1 as option in bug template (#4587)
  .github/ISSUE_TEMPLATE/bug.yml
Owners: @cloudnative-pg/maintainers, @jsilvela, @NiccoloFei, @litaocdl

fix: update to make compatible with the new version
  api/v1/cluster_types.go
  api/v1/pooler_types.go
  api/v1/zz_generated.deepcopy.go
  docs/src/cloudnative-pg.v1.md
  pkg/specs/podmonitor_test.go
Owners: @cloudnative-pg/maintainers, @jsilvela

fix: update to make compatible with the new version
  api/v1/cluster_types.go
  api/v1/pooler_types.go
  api/v1/zz_generated.deepcopy.go
  docs/src/cloudnative-pg.v1.md
  pkg/specs/podmonitor_test.go
Owners: @cloudnative-pg/maintainers, @jsilvela

fix: update to make compatible with the new version
  api/v1/cluster_types.go
  api/v1/pooler_types.go
  api/v1/zz_generated.deepcopy.go
  docs/src/cloudnative-pg.v1.md
  pkg/specs/podmonitor_test.go
Owners: @cloudnative-pg/maintainers, @jsilvela

fix: update to make compatible with the new version
  api/v1/cluster_types.go
  api/v1/pooler_types.go
  api/v1/zz_generated.deepcopy.go
  docs/src/cloudnative-pg.v1.md
  pkg/specs/podmonitor_test.go
Owners: @cloudnative-pg/maintainers, @jsilvela

chore: review
  .github/workflows/continuous-integration.yml
Owners: @cloudnative-pg/maintainers, @jsilvela, @NiccoloFei, @litaocdl

ci: run govulncheck only if go code changed
  .github/workflows/continuous-integration.yml
Owners: @cloudnative-pg/maintainers, @jsilvela, @NiccoloFei, @litaocdl

ci: run govulncheck only if go code changed (#4473)
  .github/workflows/continuous-integration.yml
Owners: @cloudnative-pg/maintainers, @jsilvela, @NiccoloFei, @litaocdl

ci: run govulncheck only if go code changed (#4473)
  .github/workflows/continuous-integration.yml
Owners: @cloudnative-pg/maintainers, @jsilvela, @NiccoloFei, @litaocdl

ci: run govulncheck only if go code changed (#4473)
  .github/workflows/continuous-integration.yml
Owners: @cloudnative-pg/maintainers, @jsilvela, @NiccoloFei, @litaocdl

ci: run govulncheck only if go code changed (#4473)
  .github/workflows/continuous-integration.yml
Owners: @cloudnative-pg/maintainers, @jsilvela, @NiccoloFei, @litaocdl

chore: avoid hitting the API server when updating plugins status
  controllers/cluster_plugins.go
Owners: @cloudnative-pg/maintainers

CODEOWNERS:

# The CODEOWNERS file is used to define individuals or teams that are
# responsible for code in a repository. For details, please refer to
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

* @cloudnative-pg/maintainers

# Component owners
# See https://github.com/cloudnative-pg/governance/blob/main/COMPONENT-OWNERS.md#cloudnative-pg

# OLM
/config/olm-*/ @cloudnative-pg/maintainers @NiccoloFei

# Documentation
/docs/ @cloudnative-pg/maintainers @jsilvela

# Tests
/.github/ @cloudnative-pg/maintainers @jsilvela @NiccoloFei @litaocdl
/hack/ @cloudnative-pg/maintainers @jsilvela @NiccoloFei @litaocdl
/tests/ @cloudnative-pg/maintainers @jsilvela @NiccoloFei @litaocdl
